<h3>Detalles de T_user</h3>
<div>
    <div>
        <label><b>ID: </b>{{t_user.id}}</label>
    </div>
    <div>
        <label><b>UID: </b>{{t_user.uid}}</label>
    </div>
    <div>
        <label><b>Email: </b>{{t_user.email}}</label>
    </div>
    <div>
        <label><b>User: </b>{{t_user.user}}</label>
    </div>
    <div>
        <label><b>FullName: </b>{{t_user.fullName}}</label>
    </div>
    <div>
        <label><b>Pass: </b>{{t_user.pass}}</label>
    </div>
    <div>
        <label><b>Rol: </b>{{t_user.rol}}</label>
    </div>
</div>